.container{
  height: 100svh;
  display: flex;
}

.control-plane {
  width: 20vw;
  min-width: 300px;
  max-width: 500px;
}

.graph-container {
  flex: 1;
  background-color: #f1f2f3;
  margin: 15px;
  border-radius: 50px;
  overflow: hidden;
}
